header {
  padding: 30rem 25vw;
  max-width: 100vw;

  .h1color {
    color: $slate !important;
    margin-top: -2rem;
    margin-bottom: 3rem;
  }

  p {
    width: 55rem;
    margin-bottom: 7.5rem;
  }
}
