*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $navy;
  color: $slate;
}

@media screen and (max-width: 800px) {
  h2 span.before {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
