@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;300;400&family=Inter:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
body {
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a192f;
  color: #8892b0;
}

h1 {
  font-size: 8rem;
  color: #e6f1ff;
}

h2 {
  color: #ccd6f6;
  font-size: 3rem;
}
h2 .before {
  content: "01. ";
  font-family: "Chivo Mono", monospace;
  color: #64ffda;
  font-weight: 300;
  font-size: 3rem;
}
h2::after {
  content: "";
  display: block;
  position: relative;
  top: -20px;
  width: 30rem;
  height: 1px;
  left: 22.5rem;
  background-color: #233554;
}

h3 {
  color: #ccd6f6;
  font-size: 3rem;
}

h4 {
  color: #ccd6f6;
  font-size: 2rem;
}
h4 span {
  color: #64ffda;
}

h5 {
  font-family: "Chivo Mono", monospace;
  font-size: 2rem;
  color: #64ffda;
  font-weight: 300;
}

h6 {
  font-family: "Chivo Mono", monospace;
  font-size: 1.25rem;
  font-weight: 300;
}

p {
  font-size: 1.75rem;
}

a,
a:focus,
a:hover,
a:visited,
a:-webkit-any-link {
  text-decoration: none;
  color: #64ffda;
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button {
  font-family: "Chivo Mono", monospace;
  color: #64ffda;
  border: 1px solid #64ffda;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}
.button:hover {
  background-color: rgba(100, 255, 218, 0.25);
}
.button-s {
  padding: 1rem 1.5rem;
}
.button-l {
  padding: 2rem 3rem;
}

.nav {
  height: 10rem;
  margin: 0 auto;
  padding: 0 2.5vw;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .nav__items {
  width: 75rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 300;
}
.nav .nav__items .link {
  color: #ccd6f6;
  font-family: "Chivo Mono", monospace;
  transition: color 0.1s;
}
.nav .nav__items .link span {
  color: #64ffda;
}
.nav .nav__items .link:hover {
  color: #64ffda;
}

.logo {
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 7.5rem;
}
.logo object {
  position: relative;
  z-index: -1;
  height: 100%;
}

.social {
  position: fixed;
  bottom: 0;
  left: 5rem;
}
.social ul {
  list-style: none;
}
.social ul svg {
  width: 2.5rem;
  height: 5rem;
  color: #8892b0;
  transition: all 0.4s;
}
.social ul svg:hover {
  color: #64ffda;
  transform: translateY(-3px);
}
.social ul::after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  height: 10rem;
  left: 1.25rem;
  width: 2px;
  background-color: #8892b0;
}

.mail {
  position: fixed;
  bottom: 20rem;
  right: 0;
  transform: rotate(90deg);
}
.mail .rotated {
  transition: all 0.4s;
}
.mail .rotated:hover {
  color: #64ffda;
  transform: translateX(-3px);
}
.mail a {
  font-family: "Chivo Mono", monospace;
  color: #8892b0;
  transition: all 0.4s;
}
.mail a:hover {
  color: #64ffda;
  transform: translateY(-3px);
}
.mail::after {
  content: "";
  display: block;
  position: relative;
  top: -5.75rem;
  right: -35rem;
  height: 10rem;
  width: 2px;
  background-color: #8892b0;
  transform: rotate(90deg);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 20vw;
  height: 100vh;
  max-width: 100vw;
}
header .h1color {
  color: #8892b0 !important;
  margin-top: -2rem;
  margin-bottom: 3rem;
}
header p {
  width: 55rem;
  margin-bottom: 7.5rem;
}
header a {
  width: 30.5rem;
}

.about {
  margin: 0 auto 20vw;
  width: 55vw;
  max-width: 100vw;
}
.about .title {
  padding-bottom: 4rem;
}
.about .content {
  display: flex;
}
.about .content .text-section {
  padding-right: 5rem;
}
.about .content .text-section .ul {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about .content .text-section .ul ul {
  list-style-type: none;
}
.about .content .text-section .ul ul li {
  font-family: "Chivo Mono", monospace;
  letter-spacing: 0.2rem;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2rem;
}
.about .content .text-section .ul ul ul {
  list-style-type: none;
}
.about .content .text-section .ul ul li {
  padding-left: 2rem;
  position: relative;
}
.about .content .text-section .ul ul li::before {
  position: absolute;
  top: 0.3rem;
  left: 0;
  height: 100%;
  padding-right: 2rem;
  content: "▹";
  color: #64ffda;
  font-size: 1.5rem;
  line-height: 12px;
}
.about .content .img-section {
  position: relative;
  height: 30rem;
  border-radius: 0.25rem;
  background-color: #64ffda;
}
.about .content .img-section .img {
  display: block;
  position: relative;
  height: inherit;
  overflow: hidden;
  mix-blend-mode: multiply;
  transition: all 0.3s;
}
.about .content .img-section .img:hover {
  mix-blend-mode: normal;
}
.about .content .img-section .img img {
  position: relative;
  filter: grayscale(100%);
  transition: all 0.6s;
  height: inherit;
}
.about .content .img-section .img img:hover {
  filter: grayscale(0%);
}
.about .content .img-section::after {
  position: absolute;
  content: "";
  display: block;
  height: 30rem;
  width: 30rem;
  border: 2px solid #64ffda;
  top: 20px;
  left: 20px;
  z-index: -1;
  border-radius: 0.25rem;
  transition: all 0.2s;
}
.about .content .img-section:hover::after {
  top: 15px;
  left: 15px;
}

.experience {
  width: 40vw;
  margin: 20rem auto;
  max-width: 100vw;
}
.experience h2 {
  padding-bottom: 5rem;
}
.experience h2::after {
  left: 36rem;
}
.experience .experiences {
  display: flex;
}
.experience .experiences .name {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}
.experience .experiences .name button {
  position: inherit;
  text-align: left;
  width: 15rem;
  height: 5rem;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  transition: all 0.2s cubic-bezier(1, 0.5, 0, 0.5);
}
.experience .experiences .name button::before {
  margin-right: 3rem;
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 100%;
  background-color: #233554;
  transition: all 0.2s cubic-bezier(1, 0.5, 0, 0.5);
}
.experience .experiences .name button:hover, .experience .experiences .name button:active {
  color: #64ffda;
  background-color: #112240;
}
.experience .experiences .name .active {
  color: #64ffda;
  background-color: #112240;
}
.experience .experiences .name .active::before {
  background-color: #64ffda;
}
.experience .experiences .details {
  margin-left: 2rem;
}
.experience .experiences .details ul {
  list-style-type: none;
}
.experience .experiences .details li {
  padding-left: 3rem;
  position: relative;
}
.experience .experiences .details li::before {
  position: absolute;
  top: 0.3rem;
  left: 0;
  height: 100%;
  padding-right: 3rem;
  content: "▹";
  color: #64ffda;
  font-size: 2rem;
  line-height: 12px;
}
.experience .experiences .details h4 {
  padding-bottom: 1rem;
}
.experience .experiences .details h6 {
  padding-bottom: 2rem;
}
.experience .experiences .details ul li {
  padding-bottom: 1rem;
}

.work {
  width: 50vw;
  margin: 20rem auto;
  max-width: 100vw;
}
.work h2 {
  padding-bottom: 5rem;
}
.work h2::after {
  left: 41rem;
}
.work .reversed {
  flex-direction: row-reverse;
}
.work .reversed .content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.work .reversed .content p {
  text-align: end;
}
.work .reversed .content ul {
  justify-content: flex-end;
}
.work .reversed .content ul li {
  padding-left: 3rem;
}
.work .reversed .content .logo {
  padding-left: 1rem;
}
.work .direct .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.work .direct .content ul {
  justify-content: flex-start;
}
.work .direct .content ul li {
  padding-right: 3rem;
}
.work .direct .logo {
  padding-right: 1rem;
}
.work .project {
  display: flex;
  position: relative;
}
.work .project h6 {
  color: #64ffda;
  padding-bottom: 1rem;
}
.work .project h4 {
  padding-bottom: 2rem;
}
.work .project p {
  background-color: #112240;
  padding: 2.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 2rem;
  z-index: 10;
  width: 115%;
}
.work .project ul {
  width: 100%;
  display: flex;
  list-style: none;
  margin-bottom: 1rem;
}
.work .project ul li h6 {
  color: #8892b0;
}
.work .project .logo {
  height: 2.5rem;
}
.work .project .logo svg {
  height: 100%;
  color: #ccd6f6;
  width: 2.5rem;
  transition: all 0.2s;
}
.work .project .logo svg:hover {
  color: #64ffda;
}
.work .project .img-section {
  position: relative;
  height: 33rem;
  border-radius: 0.25rem;
  background-color: #64ffda;
}
.work .project .img-section .img {
  display: block;
  position: relative;
  height: inherit;
  overflow: hidden;
  mix-blend-mode: multiply;
  transition: all 0.3s;
}
.work .project .img-section .img:hover {
  mix-blend-mode: normal;
}
.work .project .img-section .img img {
  position: relative;
  filter: grayscale(100%);
  transition: all 0.6s;
  height: inherit;
}
.work .project .img-section .img img:hover {
  filter: grayscale(0%);
}
.work .project .img-section::after {
  position: absolute;
  content: "";
  display: block;
  height: 33rem;
  width: 60rem;
  border: 2px solid #64ffda;
  top: 20px;
  left: 20px;
  z-index: -1;
  border-radius: 0.25rem;
  transition: all 0.2s;
}
.work .project .img-section:hover::after {
  top: 15px;
  left: 15px;
}
.work .project .img-section::after {
  display: none;
}
@media screen and (max-width: 160rem) {
  .work .project .img-section {
    height: 25rem;
  }
}

@media screen and (max-width: 140rem) {
  .work {
    width: 60vw;
  }
}
@media screen and (max-width: 100rem) {
  .work {
    width: 80vw;
  }
}
.contact {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20rem;
}
.contact h1 {
  font-size: 5rem;
  margin-top: 2rem;
}
.contact p {
  width: 50rem;
  padding: 3rem 0 4rem;
}

/*# sourceMappingURL=main.css.map */
